.nav-button-group > .button {
  margin-right: 0.4rem;
}

.button {
  padding: 0.8rem 3rem;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 6px 6px -6px black;
	   -moz-box-shadow: 0 6px 6px -6px black;
	        box-shadow: 0 6px 6px -6px black;
}

.button:hover, .button:focus, .button.active {
  background-color: var(--purple-1);
  border: 1px solid var(--purple-1);
  color: white;
}

.un-button {
  transition: background-color none;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  display: block;
}

.un-button:focus {
  outline: none;
}

.button-group-schedule-days {
  font-size: 11px;
}

@media (--medium-viewport) {
  .button-group-schedule-days > .button {
    padding: 1rem 1rem;
  }

  .button-group {
    & > .button {
      margin: 0 2px;
    }
  }
}

@media (--small-viewport) {
  .button-group-schedule-days > .button {
    padding: 1rem 0.3rem;
  }
}
